#nameExp {
  display: none;
}
#question1 {
  display: none;
}
#question2 {
  display: none;
}
#question3 {
  display: none;
}
#question4 {
  display: none;
}
#question5 {
  display: none;
}
#results {
  display: none;
}
#cSharp {
  display: none;
}
#java {
  display: none;
}
#php {
  display: none;
}
#ruby {
  display: none;
}
