
.cSharp, .java, .php, .ruby {
  display: none;
}

header {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

#intro {
  background-image: url("../img/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  padding: 10px;
  padding-left:40%;
  margin-left: 10px;
  color: #4B6065;
}

body {
  margin-top: 60px;
}

#questions {
  background-image: url("../img/bg2-img.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  padding: 20px;
  margin-left: 10px;
  color: #fff;
  display: none;
}

.questionTitle {
  font-size: 25px;
}

#results {
  background-image: url("../img/bg3-img.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  padding: 10px;
  margin-left: 10px;
  padding-right: 30%;
  color: #1E353A;
  display: none;
}
